<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>account_page</title>
</head>
<body>
    <p>
        <div>Welkom <span th:text="${user.firstName}"/>, het is nu: <span th:text="${#dates.format(#dates.createNow(), 'dd MMMMMMMMM yyyy HH:mm')}"/>.</div>
        <div>Dit is de overzichtspagina voor rekening met nummer: <span th:text="${account.iban}"/></div>
        <div>Deze rekening is gesteld op naam van: <span th:text="${account.accountName}"/></div>
        <div>Het huidige saldo op deze rekening is: <span th:text="${account.balance}"/></div>
        <div>Wie is er gemachtigd over deze rekening te beschikken? </div>

   <!-- <tr th:each="user, iter: ${customer.authorizedRepresentatives}">
        <td><span th:text="${user.firstName}"/></td>
        <td><span th:text="${user.prefix}"/></td>
        <td><span th:text="${user.lastName}"/> </td>
    </tr>-->

    </p>
    <h3>Overzicht van transacties</h3>
    <table>
        <tr>
            <td>Datum</td><td>Tegenrekening</td><td>Omschrijving</td>
        </tr>
       <!-- <tr th:each="transaction, iter: ${transactions}" th:unless="${iter.count > 10}">
            <td><span th:text="${transaction.dateTimeTransaction}"/></td>
            <td><span th:text="${transaction.debitAccount}"/></td>
            <td><span th:text="${transaction.description}"/> </td>
        </tr>-->
    </table>

    <form action="add_representative" method="post">
        <input type="submit"  value="Rekeninghouder toevoegen"><br/>
    </form>
    <form action="transfer" method="post">
        <input type="submit"  value="Geld overmaken"><br/>
    </form>
    <form action="customer_welcome" method="post">
        <input type="submit"  value="terug naar het rekeningoverzicht"><br/>
    </form>


</body>
</html>