<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>account_page</title>

</head>
<body>

    <H1>Welkom <span th:text="${user.firstName}"></span></H1>
    <p>
        <div>Het is nu: <span th:text="${#dates.format(#dates.createNow(), 'dd MMMMMMMMM yyyy HH:mm')}"></span>.</div>
        <div>Dit is de overzichtspagina voor rekening met nummer: <span th:text="${account.iban}"></span></div>
        <div>Deze rekening is gesteld op naam van: <span th:text="${account.accountName}"></span></div>
        <div>Het huidige saldo op deze rekening is: <span th:text="${account.balance}"></span></div>
        <div>Wie is er gemachtigd over deze rekening te beschikken? </div>

    <table>
        <tr th:each="user, iter: ${customers}" th:unless="${user == null}">
            <td><span th:text="${user.firstName}"></span></td>
            <td><span th:text="${user.prefix}"></span></td>
            <td><span th:text="${user.lastName}"></span> </td>
        </tr>
    </table>
    </p>
    <h3>Overzicht van transacties</h3>
    <table>
        <tr>
            <td>Datum</td><td>Bedrag</td><td>Tegenrekening</td><td>Af/Bij</td><td>Omschrijving</td>
        </tr>
       <tr th:each="transaction, iter: ${transactions}" th:unless="${iter.count > 10}">
            <td><span th:text="${#temporals.format(transaction.dateTimeTransaction, 'dd-MM-yyyy')}"></span></td>
            <td><span th:text="${transaction.amount}"></span></td>
            <td><span th:if="${transaction.debitAccount.getAccountID() == account.getAccountID()}" th:text="${transaction.creditAccount}"></span>
                <span th:unless="${transaction.debitAccount.getAccountID() == account.getAccountID()}" th:text="${transaction.debitAccount}"></span>
            </td>
           <td><span th:if="${transaction.debitAccount.getAccountID() == account.getAccountID()}">Afschrijving</span>
               <span th:unless="${transaction.debitAccount.getAccountID() == account.getAccountID()}">Bijschrijving</span>
           </td>
           <td><span th:text="${transaction.description}"></span> </td>
        </tr>
    </table>
    <br/>
    <form action="add_representative" method="post">
        <input type="submit"  value="Rekeninghouder toevoegen"><br/>
    </form>
    <form action="transfer" method="post">
        <input type="submit"  value="Geld overmaken"><br/>
    </form>
    <form action="customer_welcome" method="post">
        <input type="submit"  value="terug naar het rekeningoverzicht"><br/>
    </form>


</body>
</html>