<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Saldo per Sector</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/sme_accountmanager_welcome">Keuze pagina</a></li>
            <li><a href="/logout">Uitloggen</a></li>
        </ul>
    </nav>
<h1> Hier vindt u het gemiddelde saldo per sector</h1>
<h2>Welkom <span th:text="${welcome}"/></h2>
    <table >
        <tr>
            <td>Kies sector</td>
        </tr>
        <form action="/averageSaldo" method="post">
            <td>
                <select name="sector">
                    <option th:each="branch, iter: ${branch_list}"
                        th:text="${branch}">
                    </option>
                </select>
            </td>
            <td>
                <input type="submit"  value="Ok">
            </td>
        </form>
    </table>
    <table>
        <br>
            <tr>
                <td>Sector</td>
                <td>Gemiddeld Saldo</td>
            </tr>
            <tr>
                <td th:text="${selected_branch}"></td>
                <td th:text="${#numbers.formatCurrency(average_saldo)}"></td>

<!--
                <div>Het huidige saldo op deze rekening is: <span th:text="${#numbers.formatCurrency(average_saldo)}"></span></div>
-->
            </tr>
    </table>
    <h1>Methode 2</h1>
    <form action="ergens" method="POST">
        <select name="sector" id="sector" onchange="checkForSectorBalance()">
            <option th:each="branch, iter: ${branch_list}"
                    th:text="${branch}">
            </option>
        </select>
        <input type="text" id="average_balance" name="balance" placeholder="saldo"><br>
    </form>
    <div id="error" hidden>
        <p> Er ging iet fout</p>
    </div>

    <script>
        document.getElementById('sector');

        function checkForSectorBalance() {
            console.log('out of focus' + this);
        let sector = document.getElementById('sector').value;
        console.log('sector: ' + sector);

        if(sector){
            var formData = `sector=${sector}`;
            console.log('we have valid data' + this)
            let request = new XMLHttpRequest();
            request.open('POST','http://localhost:8080/saldo', this)

            request.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            request.setRequestHeader('Accept', 'application/json')
            request.send(formData);

            request.onload = function () {
                if (request.status !=200){
                    document.getElementById('error').style.display = 'block'
                    document.getElementById('average_balance').value = '';
                    document.getElementById('sector').classList.add('error');
                }   else {
                    document.getElementById('error').style.display='none';
                    console.log(`Done, got ${request.response.length} bytes`);
                    console.log('response' + request.response);
                    let average_saldo = JSON.parse(request.response);
                    console.log(average_saldo.toFixed(2));
                    document.getElementById('average_balance').value = '€' + average_saldo.toFixed(2);

                }
            }
        }
        function processError() {
        }
        }
    </script>
</body>
</html>