<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Welkom</title>
</head>
<body>
<h1>Welkom Gebruiker</h1>
<!--<h1>Welkom <span th:text="${user.name}"/></h1>-->
<br>
<h3>Rekening overzicht:</h3>
<br>
<table>
    <tr>
       <td>Naam rekeninghouder:</td>
        <td>Rekeningnummer:</td>
        <td>Saldo:</td>
    </tr>
    <tr>
<!--    <tr th:each="account, iter: ${accounts}">-->
<!--    <td> <a th:href="@{do_select_account})}"> <span th:text="${account.accountName}"/> </a> </td>-->
<!--    <td><span th:text="${account.iban}"/> </a> </td>-->
<!--    <td><span th:text="${account.balance}"/> </a> </td>-->
       <td>Dhr. voorbeeld</td>
        <td>1234 1234 12</td>
        <td>100.00</td>
    </tr>
</table><br/>
    <input type="button" name="do_select_account" value="Selecteer rekening (NYI)">
    <input type="button" name="do_link_account" value="koppel rekening (NYI)">
</body>
</html>