<!DOCTYPE html>

<html lang="en" html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Welkom</title>
    <h2>Welkom <span th:text="${user.getFirstName()}"/></h2>
</head>
<body>
<h1>Welkom Gebruiker</h1>
<!--<h1>Welkom <span th:text="${user.name}"/></h1>-->
<br>
<h3>Rekening overzicht:</h3>
<br>
<table>
    <tr>
        <td>Naam rekening</td><td>Naam rekeninghouder:</td><td>Rekeningnummer:</td> <td>Saldo:</td>
    </tr>
    <tr>
        <td>Betaalrekening</td><td>Dhr. voorbeeld</td><td>1234 1234 12</td> <td>100.00</td>
    </tr>
</table><br/>
    <input type="button" name="do_select_account" value="Selecteer rekening (NYI)">
    <input type="button" name="do_link_account" value="koppel rekening (NYI)">
</body>
</html>