<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Grow your savings. Join DAPAJ today.</title>
    <link rel="stylesheet" type="text/css" href="join_dapaj.css">

</head>

<body>

<div class="slogan">
    <h1>DAPAJ Bank | Invest In Your Future. Join Today.</h1>
</div>

<div class="divform">
    <form action="#" th:action="@{/create_user}" th:object="${user}" method="post">
        <table >
            <tr>
                <td>First Name:</td>
                <td><input type="text" placeholder="First Name" name="name"></td>
            </tr>

            <tr>
                <td>Insert:</td>
                <td><select name="insert">
                    <option></option>
                    <option>van</option>
                    <option>van der</option>
                    <option>den</option>
                    <option>van den</option>
                </select>
                </td>
            </tr>

            <tr>
                <td>Last Name:</td>
                <td><input type="text" placeholder="Last Name" name="last name"></td>
            </tr>

            <tr>
                <td>Date of Birth:</td>
                <td><input type="date"  placeholder="Your Birthday" name="birthday"></td>
            </tr>


            <tr>
                <td>BSN:</td>
                <td><input type="number" placeholder="BSN Number" name="BSN"></td>
            </tr> <br/>

            <tr>
                <td>Address:</td>
                <td><input type="text" placeholder="Street" name="street"></td>
            </tr> <br/>

            <tr>
                <td>House number:</td>
                <td><input type="text" placeholder="House number" name="house_number"></td>
            </tr> <br/>

            <tr>
                <td>Postcode:</td>
                <td><input type="text" placeholder="Postcode" name="postcode"></td>
            </tr> <br/>

            <tr>
                <td>City:</td>
                <td><input type="text" placeholder="City" name="city"></td>
            </tr> <br/>

            <tr>
                <td>Country:</td>
                <td><input type="text" value="Netherlands" name="country"></td>
            </tr> <br/>

            <tr>
                <td>Email:</td>
                <td><input type="email" placeholder="Email" name="email"></td>
            </tr>

            <tr>
                <td>Mobile Phone:</td>
                <td><input type="tel" placeholder="Mobile" name="mobile"></td>
            </tr>

            <tr>
                <td>Client Type:</td>
                <td><select name="typeUser">
                    <option>Particular</option>
                    <option>Company</option>
                </select>
            </tr>

            <tr>
                <td>Open an account?</td>
                <td><select name="typeUser">
                    <option>Yes</option>
                    <option>No</option>
                </select>
            </tr>


            <tr>
                <td>Submit:</td>
                <td><input type="submit" value="Submit" name="submit"></td>
            </tr>
        </table>
    </form>
</div>



</body>
</html>