<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welkom bij de Padaj Bank</title>
    <link rel="stylesheet" type="text/css" href="login.css">




<body>
    <h1> Welkom bij de Dapaj Bank</h1>
    <h2></h2>
    <h4><span th:text="${header_inlog}"/></h4>
        <form class="login" action="#" th:action="@{do_login}" method="post">
            <table>
                <tr>
                    <td>Gebruikersnaam:</td>
                    <td><input type="text" name="user_name"></td>
                </tr>
                <tr>
                    <td>Wachtwoord:</td>
                    <td><input type="password" name="user_password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Inloggen"></td>
                </tr>
            </table>
            <td><a href="set_password">Ik ben mijn wachtwoord vergeten</a></td>
        </form>
    <form action="join_dapaj" method="post">
        <input type="submit" value="Klant worden">
    </form>

</body>
</html>