<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wachtwoord vergeten</title>
</head>
<body>
<form method="post" action="">

    <label for="newPassword">Nieuw wachtwoord:</label>
    <input type="password" id="newPassword" name="newPassword" title="New password" />

    <label for="confirmPassword">Wachtwoord bevestigen:</label>
    <input type="password" id="confirmPassword" name="confirmPassword" title="Confirm new password" />
    <p class="form-actions">
        <input type="submit" value="Wachtwoord wijzigen" title="Change password" />
    </p>

</form>
</body>
</html>