<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>set_password</title>
</head>
<body>
<h1>Wachtwoord vergeten?</h1>
<h1>Vul hier uw gegevens in:</h1>
<form action="#" th:action="@{change_password}" method="post">
    <table>
        <tr>
            <td>Gebruikersnaam:</td>
            <td><input type="text" name="user_name"></td>
        </tr>
        <tr>
            <td>BSN</td>
            <td><input type="text" name="bsn"></td>
        </tr>
        <tr>
            <td>Nieuw wachtwoord:</td>
            <td><input type="password" name="user_password"></td>
        </tr>
        <tr>
        <td><input type="submit" value="wijzigen"></td></tr>
    </table>
</form>
</body>
</html>
